listening-port=3478
fingerprint
lt-cred-mech
use-auth-secret
static-auth-secret=__TURN_SHARED_SECRET__
realm=__TURN_REALM__
server-name=__TURN_REALM__
__TURN_EXTERNAL_IP_CONFIG__
no-multicast-peers
no-cli
no-tls
no-dtls
min-port=__TURN_RELAY_MIN_PORT__
max-port=__TURN_RELAY_MAX_PORT__
log-file=stdout
simple-log
